body {
    background-color: aquamarine; /*změna pozadí stránky*/

}


#h1 {
    text-align: center;  /*změna barvy a umístení textu*/
    color: salmon; 

} 

.text {
    font-size: 20px ;  /*změna velikosti písma pro třídu .text*/
}

div h2 {
    color: orangered;
}

